.calculator {
	padding-left: 10px;
}

.calculatorFirstColumn {
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: grey;
	border-style: solid;
	padding-right: 10px;
}

.calculatorTableRow {
	white-space: nowrap;
}
