.table {
	border-style: solid 1px;
	border-collapse: collapse;
}

.tableContainer {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
}

.tableDiv {
	overflow: auto;
}

.tableColumnHeaderAnomaly {
	padding: 5px;
}

.tableCharRow {
	border-bottom: 1px;
	border-top: 1px;
	border-right: 0px;
	border-left: 0px;
	border-color: grey;
	border-style: solid;
	border-collapse: collapse;
}
