.anomalyAdditionControl {
	margin-left: 5px;
	width: 40px;
}

.table {
	border-style: solid 1px;
	border-collapse: collapse;
}

.tableContainer {
	margin: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.tableColumnHeaderAnomaly {
	padding: 5px;
}

.tableHeader {
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 5px;
}

.tableCharRow {
	border-bottom: 1px;
	border-top: 1px;
	border-right: 0px;
	border-left: 0px;
	border-color: grey;
	border-style: solid;
	border-collapse: collapse;
}

.charAdditionControl {
	border: 0px;
	min-width: 150px;
}

.checkboxExplanation {
	font-weight: normal;
	vertical-align: sub;
	font-size: 80%;
	text-decoration: underline dotted;
}

.calculator {
	padding-left: 10px;
}

.deleteColumnButton {
	margin-right: 5px;
	border: none;
	background: none;
	color: red;
}

.deleteCharButton {
	margin-right: 20px;
	border: none;
	background: none;
	color: red;
	float: right;
}

.resetButton {
	margin-top: 15px;
	margin-bottom: 15px;
}

.calculatorFirstColumn {
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: grey;
	border-style: solid;
	padding-right: 10px;
}

.cargoInput {
	min-width: 300px;
	max-width: 300px;
	min-height: 50px;
	height: 50px;
	margin-top: 15px;
}

.notEnoughCargoWarning {
	color: red;
	margin-left: 15px;
	top: 50%;
}

.blueLootTable {
	border-style: solid 1px;
	border-collapse: collapse;
}

.blueLootTableHeaderRow{
    font-weight: lighter;
}