.table {
	border-style: solid 1px;
	border-collapse: collapse;
}

.tableContainer {
	padding-left: 20px;
	padding-top: 15px;
	min-height: 100vh;
	height: 100%;
	box-sizing: border-box;
}

.tableDiv {
	overflow: auto;
}

.tableColumnHeaderAnomaly {
	padding: 5px;
}

.tableCharRow {
	border-bottom: 1px;
	border-top: 1px;
	border-right: 0px;
	border-left: 0px;
	border-color: grey;
	border-style: solid;
	border-collapse: collapse;
}

.table > .tableCharRow {
	animation: fadein 300ms;
}

.table > .tableCharRow > td {
	animation: fadein 200ms;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
