.blueLootCalculator {
	padding-top: 30px;
}

.cargoInput {
	min-width: 400px;
	max-width: 400px;
	min-height: 50px;
	height: 50px;
	margin-top: 3px;
    padding-left: 5px;
	padding-top: 5px;
}

.dark-theme .cargoInput {
	background-color: #383a40;
	border: none;
    margin-top: 3px;
	padding-left: 5px;
	padding-top: 5px;
	color: rgb(248, 248, 248);
}

.blueLootDiv {
	animation: fadein 200ms;
}

.notEnoughCargoWarning {
	color: #c4000d;
}

.enoughCargoWarning {
	color: #2a9902;
}

.dark-theme .notEnoughCargoWarning {
	color: #e96164;
}

.dark-theme .enoughCargoWarning {
	color: rgb(117, 227, 111);
}

.blueLootTable {
	border-style: solid 1px;
	border-collapse: collapse;
	margin-top: 15px;
}

.blueLootTableColumnHeading {
	font-weight: lighter;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: grey;
	border-style: solid;
}

.blueLootCount {
	text-align: center;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

@keyframes slidedown {
	from {
		transform: scaleY(0) translateY(-25%);
	}

	to {
		transform: scaleY(1) translateY(0);
	}
}
